/* globális css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
.modal2 {
	display:auto;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(73, 65, 65);
}

.modal-content2 {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid rgb(136, 136, 136);
    width: 35%; 
	padding-bottom: 30px;
}